
body{
background-image: url(img.jpeg);
background-size: cover;
}

a{
	text-decoration-line: none;
            color: lightyellow;
            border: none;

}
a:hover{
	color: blue;

}
a:active{
	color: blueviolet;
}
.input{
	font-style:oblique;
	font-size: 50px;
	font-display: block;
	line-height: 150px;
	text-decoration-line: none;


}




.animate-charcter { 
	text-transform: uppercase; 
	background-image: linear-gradient( -225deg, #13ff79 0%, #3e13ff 29%, #132fff 67%, #ff1313 100% ); 
	background-size: auto auto; 
	background-clip: border-box; 
	background-size: 200% auto; 
	color: #fff; 
	background-clip: text; 
	text-fill-color: transparent; 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
	animation: textclip 5s linear infinite; 
	display: inline-block; font-size: 50px;
	 }
	  @keyframes textclip { to { background-position: 200% center; } }
